<div class="border-4 border-blue-300 rounded-lg text-center p-4 m-4 max-w-md mx-auto" *ngIf="hero">
  <h2 class="font-bold text-2xl">{{hero.name | uppercase }} Details</h2>
  <div class="font-semibold">Id: <span class="text-red-400">{{hero.id}}</span></div>
  <div class="font-semibold">Name: <span class="text-blue-400">{{hero.name}}</span></div>
  <label for="hero-name" class="font-bold">Name:
    <input id="hero-name" class="border-2 border-blue-400 rounded-lg p-1 text-black" [(ngModel)]="hero.name" placeholder="name" />
  </label>
</div>
